@model IEnumerable<web.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site4.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap" rel="stylesheet">
<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                BookName
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a asp-action="Rent" asp-route-id="@item.CourseID">Rent</a> |
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
